nav {
    background: #800000;
    color: rgb(200, 150, 70);
    padding: 14px;
    }
    nav a {
    color: rgb(80, 100, 150); 
    text-decoration: none;
    padding: 10px 20px;
    }
    nav .active,
    nav a:hover{
    background: #8f00ff;
    }
    /*Id Selector*/
    #intro{
    background: #ff00ff; 
    border: 2px solid #ff0000; 
    min-height: 100px; 
    padding: 12px;
    }
    #intro h1 {
    text-align: left;
    border: 0;
    color: rgb(250, 0, 180);
    }
    /*Class Selector*/
    .button {
    padding: 15px 20px;
    background: #ff0080;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    }
    .btn-primary {
    background: #ff00aa;
    }